In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from sklearn.metrics import r2_score

In [2]:
os.getcwd()

'c:\\Users\\HP\\Desktop\\Machine Learning Programing with prajwal'

In [3]:
os.chdir('C:\\Users\\HP\\Documents\\Batch 93 Day27\\')

In [4]:
df1=pd.read_csv('50_Startups_Predictions.csv')
df1

    R&D Spend  Administration  Marketing Spend       State
0   120542.52       148718.95        311613.29    New York
1   123334.88       108679.17        304981.62  California
2   101913.08       110594.11        229160.95  California
3   100671.96        91790.61        249744.55     Florida
4    93863.75       127320.38        249839.44  California
5    91992.39       135495.07        252664.93  California
6   119943.24       156547.42        256512.92     Florida
7   114523.61       122616.84        261776.23    New York
8    78013.11       121597.55        264346.06  California
9    72107.60       127864.55        353183.81    New York
10   66051.52       182645.56        118148.20     Florida
11   65605.48       153032.06        107138.38    New York
12   61994.48       115641.28         91131.24    New York
13   61136.38       152701.92         88218.23    New York
14   63408.86       129219.61         46085.25  California
15   55493.95       103057.49        214634.81    New York
16   46426.07       157693.92        210797.67     Florida
17   46014.02        85047.44        205517.64    New York
18   28663.76       127056.21        201126.82    New York
19   44069.95        51283.14        197029.42  California
20   20229.59        65947.93        185265.10    New York
21   38558.51        82982.09        174999.30  California
22   22177.74       154806.14         28334.72  California
23    1000.23       124153.04          1903.93    New York
24    1315.46       115816.21        297114.46     Florida
25       0.00       135426.92             0.00  California
26     542.05        51743.15             0.00    New York
27       0.00       116983.80         45173.06  California

In [60]:
# creat independent variable
x=df1.iloc[:, :-1].values
x

array([[120542.52, 148718.95, 311613.29],
       [123334.88, 108679.17, 304981.62],
       [101913.08, 110594.11, 229160.95],
       [100671.96,  91790.61, 249744.55],
       [ 93863.75, 127320.38, 249839.44],
       [ 91992.39, 135495.07, 252664.93],
       [119943.24, 156547.42, 256512.92],
       [114523.61, 122616.84, 261776.23],
       [ 78013.11, 121597.55, 264346.06],
       [ 72107.6 , 127864.55, 353183.81],
       [ 66051.52, 182645.56, 118148.2 ],
       [ 65605.48, 153032.06, 107138.38],
       [ 61994.48, 115641.28,  91131.24],
       [ 61136.38, 152701.92,  88218.23],
       [ 63408.86, 129219.61,  46085.25],
       [ 55493.95, 103057.49, 214634.81],
       [ 46426.07, 157693.92, 210797.67],
       [ 46014.02,  85047.44, 205517.64],
       [ 28663.76, 127056.21, 201126.82],
       [ 44069.95,  51283.14, 197029.42],
       [ 20229.59,  65947.93, 185265.1 ],
       [ 38558.51,  82982.09, 174999.3 ],
       [ 22177.74, 154806.14,  28334.72],
       [  1000.23, 124153.04,   1903.93],
       [  1315.46, 115816.21, 297114.46],
       [     0.  , 135426.92,      0.  ],
       [   542.05,  51743.15,      0.  ],
       [     0.  , 116983.8 ,  45173.06]])